#background{
    background-image: url(../../../assets/image/cities-overview-hero.png);
    background-size: cover;
    width: 100%;
    min-height: 600px;
}
#logoName{
    border: solid 20px beige;
    margin: 0 20% 0 20% ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#card{
    width: 70%;
    height: 20rem;
}
#datepicker{
    width: 17rem;
}