@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="bg-dark border-dark text-white " id="sidebar-wrapper">
    <img class="align-content-center m-5" width="130" height="130" src="~/Image/MM.png" />
    <div class="sidebar-heading mt-5 text-center ">Raddisson</div>
    <div class="list-group list-group-flush ">
        <a href="#" class="list-group-item list-group-item-action bg-dark  text-white">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark  text-white">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark  text-white">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark  text-white">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark  text-white">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark  text-white">Status</a>
    </div>
</div>